<div class='timeline-entry span'> 
  <div class="patient-section pull-left">
    <h4> Allergies </h4>
    <div class="span section-body">   
      {{#collection allergies}}
        {{description}} {{start_time}}
      {{/collection}}
    </div>
  </div>

  <div class="patient-section pull-right">
    <h4> Conditions </h4>
    <div class="span section-body">   
      {{#collection conditions}}
        {{description}} {{ start_time }}
      {{/collection}}
    </div>
  </div>

  <div class="patient-section pull-left">
    <h4> Encounters </h4>
    <div class="span section-body">
      {{#collection allergies}}
        {{description}} {{start_time}}
      {{/collection}}
    </div>
  </div>
      
  <div class="patient-section pull-right">
    <h4> Immunizations </h4>
    <div class="span section-body">
      {{#collection allergies}}
        {{description}} {{start_time}}
      {{/collection}}
    </div>
  </div>

  <div class="patient-section pull-left">
    <h4> Results </h4>
    <div class="span section-body">
      {{#collection allergies}}
        {{description}} {{start_time}}
      {{/collection}}
    </div>
  </div>
      
  <div class="patient-section pull-right">
    <h4> Medications </h4>
    <div class="span section-body">
      {{#collection allergies}}
        {{description}} {{start_time}}
      {{/collection}}
    </div>
  </div>      
      
  <div class="patient-section pull-left">
    <h4> Procedures </h4>
    <div class="span section-body">
      {{#collection allergies}}
        {{description}} {{start_time}}
      {{/collection}}
    </div>
  </div>
      
  <div class="patient-section pull-right">
    <h4> Vital Signs </h4>
    <div class="span section-body">
      {{#collection allergies}}
        {{description}} {{start_time}}
      {{/collection}}
    </div>
  </div>         
      
  <div class="patient-section pull-right">
    <h4> Medical Equipment </h4>
    <div class="span section-body">
      {{#collection conditions}}
        {{description}} {{ start_time }}
      {{/collection}}
    </div>
  </div>
</div>
