<div class="percent-listing" style="{{#unless showAggregatePercentage}}margin-left:70px{{/unless}}">
  {{#if shouldDisplayPercentageVisual}}
    <input type="text" value="{{resultValue}}" class="dial" data-readOnly="true" data-width="80" data-height="80" data-thickness=".1" data-fgColor="#4B979D" data-inputColor="#444" data-font="Helvetica Neue, Roboto, Helvetica, Arial, sans-serif" data-font-weight="400">
  {{else}}
    <span class="percentage">{{formatNumeral resultValue '0.[0]a'}}<small>{{unit}}</small></span>
  {{/if}}
</div>

<div class="row-remainder" style="{{#if showAggregatePercentage}}margin-right: -10px;{{/if}}">
  <div class="measure-type pull-left">
    <i class="{{#if episode_of_care}}fa fa-stethoscope{{else}}glyphicon glyphicon-user{{/if}} icon-popover" data-placement="bottom" data-content="{{#if episode_of_care}}Episodes-of-Care{{else}}Patients{{/if}}" data-trigger="hover focus"></i>
  </div>

  <div class="fraction-listing pull-left">
    <div class="numerator">{{formatNumeral fractionTop '0.[0]a'}}</div>
    <div class="denominator">{{formatNumeral fractionBottom '0.[0]a'}}</div>
  </div>

  <div class="pop-chart pull-left" style="{{#if showAggregatePercentage}}width:150px !important;{{/if}}"></div>

  <a href="#measures/{{id}}{{#if sub_id}}/{{sub_id}}{{/if}}{{#if provider_id}}/providers/{{provider_id}}{{/if}}/patient_results" class="patient-btn {{#if showAggregatePercentage}}pull-left{{else}}pull-right{{/if}}">Patients</a>
</div>

<div class="full-percent-listing pull-left">
	{{#if showAggregatePercentage}} {{#if shouldDisplayPercentageVisual}} 
		<input type="text" value="{{fullPercentage}}" class="dial" data-readOnly="true" data-width="70" data-height="70" data-thickness=".1" data-fgColor="#66cc33" data-inputColor="#444" data-font="Helvetica Neue, Roboto, Helvetica, Arial, sans-serif" data-font-weight="400" style="font-size:20px !important; font-weight:bold; padding-right:20px">
	{{else}}
		<span class="percentage">{{formatNumeral fullPercentage '0.[0]a'}}<small>{{unit}}</small></span>
	{{/if}}{{/if}}
</div>

